@{
    ViewData["Title"] = "Contacts";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<h1 class="title-art">Контакти</h1>

<div class="cont">
    <form class="form_cont">

        <fieldset>
            <legend>Свържете се с нас</legend>
            <label>Име</label>
            <br />
            <input type="text" placeholder="Въведете име">
            <br />
            <br />
            <label>Телефон за контакт</label>
            <br />
            <input type="text" placeholder="Въведете телефон">
            <br />
            <br />
            <label>Имейл адрес</label>
            <br />
            <input type="email" placeholder="Въведете имейл">
            <br />
            <br />
            <label>Съобщение</label>
            <br />
            <textarea placeholder="Вашето съобщение ...">
    </textarea>
            <br />
            <br />
            <input type="submit">
        </fieldset>
    </form>
    <div class="info_cont">
        <p><b>Адрес:град Сопот, улица Иван Вазов 12 </b></p>
        <p><b>Електронна поща: my_garden@gmail.com</b></p>
        <p><b>Телефон за контакт: 0885538123  </b></p>
    </div> 
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.229832536047!2d24.768529442854508!3d42.647420351929945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a990c52cb15c7f%3A0xc2dd6f2c7c4bc02d!2zNDMzMCDQodC-0L_QvtGC!5e0!3m2!1sbg!2sbg!4v1708006878997!5m2!1sbg!2sbg" width="350" height="250"></iframe>
    </div>
</div>

