@{
    ViewData["Title"] = "ForUs";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

<h1 class="title-art">За нас </h1>



<center>
    <div class="forus">
        <h1>Разсадник за цветя " Моята градина"</h1>
        <img src="~/images/forus.jpg" />
        <p>
            Разсадник " Моята градина" е малък разсадник <br />
            за производството на декоративна растителност, <br />
            <br />
            Собствената ни продукция включва над 100 вида растения.<br />
            През последните години разсадникът се налага <br />
            като един от лидерите на пазара за <br />
            декоративна растителност в България.<br />
            <br />
            <b>
                <i>
                    Във всяко едно растение влагаме много време, <br />
                    грижи и любов, за да може нашите клиенти <br />
                    да получават най – доброто.<br />
                </i>
            </b>
        </p>
    </div>
</center>
<br />
<br />
<div class="quote">
    <img width="100px" height="auto" src="~/images/kavichki.png">
    <p>
        <b>
            Нашата мисия е света около <br /> нас да бъде по зелен!
        </b>
    </p>
</div>

<br />
<br />
<br />

<hr />
<div class="contactUs">
    <img src="~/images/garden.jpg">
    <p>Имате нужда от професионален съвет <br />за вашата градина, свържете се с нас!</p>
    <div class="button_cont">
        <a asp-controller="Home" asp-action="Contacts"><p>СВЪРЖЕТЕ СЕ С НАС </p></a>
    </div>

</div>

<div class="service">
    <div class="serv">
        <img src="/images/shipped.png" />
        <p>
            Безплатна доставка в цялата страна при поръчка над 50 лв.
        </p>
    </div> 
    <div class="serv">
        <img src="/images/plant.png" />
        <p>
            Гарантирано качество и българско производство
        </p>
    </div> 
    <div class="serv">
        <img src="/images/conversation.png" />
        <p>
            Постоянно 24-часово обслужване 
        </p>
    </div>


</div>



